body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App styles */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Components styles */
.components-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Create Element styles */
#info-text {
  display: block;
}
.details {
  font-size: 1.25rem;
}

/* Counter styles */
.counter {
  display: flex;
  justify-content: space-around;
  width: 150px;
  font-size: 2rem;
  button {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
